.header{
    height:5em;
    width:100%;

}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 80px;
    width: 100%;
    background:  linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(82,84,84,1) 100%);
    position: relative;
    box-shadow: 0 7px 14px rgba(0,0,0,0.50), 0 4px 4px rgba(0,0,0,0.50);
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-logo {
    display: inline-block;
    padding-left: 20px;
    height: 100%;
    width: auto;

  }

  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    height: 100%;
    align-items: center;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: inline-block;
    margin-right: 30px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    color: #ffffff;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      padding-top: 15px;
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #00a7e1;
      transition: all 0.3s ease-in;
      overflow-y: scroll;
      top: 80px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      margin-top: 20px;
      margin-right: 0px;
      width: 90%;
      text-align: center;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 80px);
      overflow-y: auto;
    }
  }