.search-view{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.search-input{
    position: relative;
    box-shadow: 0px 1px 3px black;;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    display: block;
    width: 40%;
    background: #fff;
    border-radius: 31px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
  }